.temp {
  font-family: "Roboto Serif", serif;
  font-size: 128px;
  font-weight: 700;
  line-height: 115px;
}

.feelsLike {
  font-size: 16px;
  font-weight: 100;
}

.conditions {
  font-size: 36px;
}

.tempHolder,
.windHolder {
  margin-top: 1rem;
}

.dataHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
