.temp {
  font-family: "Bungee", serif;
  font-size: 110px;
  line-height: 90px;
  letter-spacing: -0.2rem;
}

.feelsLike {
  font-size: 16px;
  font-weight: 400;
}

.conditions {
  font-family: "Bungee", serif;
  font-size: 40px;
}

.tempHolder,
.windHolder {
  margin-top: 1rem;
}

.dataHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
