$drift-duration: 80s;
$drift-duration_2: 90s;
.cloud_1 {
  animation-name: drift;
  animation-duration: $drift-duration;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: -25s;
}

.cloud_2 {
  animation-name: drift;
  animation-duration: $drift-duration_2;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: -50s;
}

.cloud_3 {
  animation-name: drift;
  animation-duration: $drift-duration;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 0;
}

.cloud_4 {
  animation-name: drift;
  animation-duration: $drift-duration_2;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: -80s;
}

@keyframes drift {
  from {
    transform: translateX(-300px);
  }

  to {
    transform: translateX(500px);
  }
}
