.container {
  position: fixed;
  top: 0px;
  z-index: -1;
  width: 100vw;
  height: var(--content_height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
