.location {
  font-family: Monoton, sans-serif;
  font-size: 6vw;
  line-height: 50px;
}

.date {
  font-size: 16px;
  font-weight: 400;
}

.zipInputHolder {
  padding: 0.5rem;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 5px;
  background-blend-mode: overlay;
}

.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -100;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  height: 8rem;
}

.footer {
  position: absolute;
  width: 100vw;
  bottom: 0;
  padding: 2rem;
}

.mutextfield {
  color: var(--font_color) !important;
}
