.location {
  font-size: 50px;
  font-weight: bold;
  line-height: 50px;
}

.date {
  font-size: 16px;
  font-weight: 100;
}

.zipInputHolder {
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -100;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  height: 8rem;
}

.footer {
  position: absolute;
  width: 100vw;
  bottom: 0;
  padding: 2rem;
}
