@use "./scss/abstracts/colors" as *;

.location {
  font-family: Monoton, sans-serif;
  font-size: 4rem;
  line-height: 50px;
}

@media (max-width: 600px) {
  .location {
    font-size: 8vw;
    line-height: 6vw;
  }
}

.date {
  font-size: 16px;
  font-weight: 400;
}

.zipInputHolder {
  padding: 0.5rem;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 5px;
  background-blend-mode: overlay;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -100;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  height: 8rem;
}

.footer {
  position: absolute;
  width: 100vw;
  bottom: 0;
  padding: 2rem;
}

.mutextfield {
  color: rgb(37, 37, 37) !important;
}

.zipSection {
  color: black !important;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-top: 1rem;
  height: 95px;
  background-color: #d0cece;
  box-shadow: inset 0 8px 10px -8px black;
  background-image: url("../public/tile_grey_stripes.png");
}

.container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-apart;
}

.main {
  position: relative;
  width: 100%;
  height: calc(100% - 95px);
}

.day {
  color: $day-font-color;
}

.night {
  color: $night-font-color;
}

.sunrise {
  color: $sunrise-font-color;
}

.sunset {
  color: $sunset-font-color;
}
